[Unit]
Description=Camera stream
After=network.target

[Service]
Type=simple
Restart=always
User=pi
ExecStart=/home/pi/camera.sh
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target