[Unit]
Description=Day/Night
After=network.target
Before=camera.service

[Service]
Type=oneshot
Restart=on-failure
User=pi
ExecStart=/home/pi/day.sh
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target